.news .news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem , 1fr));
    grid-gap: 3rem;
}

.news .one-news {
    background-color: var(--white);

    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    border-radius: var(--radius);

    overflow: hidden;
}

.news .one-news .img {
    width: 100%;
    height: 20rem;
}

.news .one-news .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news .one-news .content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
